.search_container input {
    color: var(--secondary);
    background-color: var(--light);
    width: 60vw;
    text-align: center;
}
@media screen and (min-width: 800px) {
    .search_container input {
        width: 40vw;
    }
}
.search_container button {
    background-color: var(--secondary);
    color: var(--light);
    /* make circle */
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.search_container button:focus, button:hover {
    background-color: var(--secondary);
    color: var(--light);
    outline: none;
}

.back_btn {
    background-color: var(--secondary);
    color: var(--primary);
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
    position: fixed;
    top: 5%;
    left: 10%;
}