body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Font size */
  --font-lg: 2.5rem;
  --font-md: 2rem;
  --font-sm: 1.5rem;
  font-size: var(--font-md);
  /* Colors */
  --primary: #eee;
  --secondary: #f00;
  --light: #fff;
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  margin-bottom: 0;
}
input, textarea, label, button {
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

#root{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-bottom: 6rem;
}


.f-lg {
  font-size: var(--font-lg) !important;
}
.f-md {
  font-size: var(--font-md) !important;
}
.f-sm {
  font-size: var(--font-sm) !important;
}